[user]
  name = Max Yem
  email = maard@cpan.org

[merge]
  tool = meld

[diff]
  tool = vimdiff
  guitool = meld

[difftool]
  prompt = no

[color]
  diff = auto

[alias]
  b = branch
  ci = commit
  co = checkout
  st = status
  cp = cherry-pick
  rs = remote -v show
  tree = log --graph --oneline --decorate
  sls = stash list
  ssh = stash show -p
  up = pull upstream
  d = diff
  dd = diff --cached

[core]
  excludesfile = ~/.gitignore

[push]
  default = upstream

