[user]
  name = Max

[merge]
  tool = meld

[diff]
  tool = vimdiff
  guitool = meld

[difftool]
  prompt = no

[color]
  branch = auto
  diff = auto
  status = auto

[alias]
  a = add
  amend = commit --amend
  aauthor = commit --amend --reset-author
  au = add -u
  b = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  d = diff
  dd = diff --cached
  l = log --graph --abbrev-commit --decorate --date=local --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar / %ad)%C(reset) %C(white)%s%C(reset)  (%C(dim white)%an%C(reset))%C(bold yellow)%d%C(reset)'
  no = log --name-only
  p = log -p
  rs = remote -v show
  s = show
  sls = stash list
  ssh = stash show -p
  st = status
  up = pull upstream
  w = whatchanged
  wd = diff --word-diff-regex=.
  wdd = diff --word-diff-regex=. --cached
  ws = show --word-diff-regex=.

[core]
  excludesfile = ~/.gitignore
  # fix WSL execute flag "feature"
  filemode = false

[push]
  # safety: without refspec, only push if the remote branch name is the same
  default = simple
[include]
	path = ~/.gitconfig.dev
